@{
    ViewBag.Title = "Reglamento";
}

<h2>Reglamento Mundial</h2>

<ol>
<li>
<strong>Prode: </strong>cada ronda del mundial posee su prode para completar. 
Para completarlo se debe acceder a la opción <em>Completar Prode</em> del menú, una vez iniciada la sesión con tu usuario. 
Por cada partido se debe pronosticar la cantidad de goles que cada equipo va a efectuar.
</li>
<li>
<strong>Cierre del Prode: </strong>
el tiempo para completar los prodes de cada partido es hasta una hora antes del comienzo del mismo. Hasta el cierre del prode del partido se puede cambiar el pronostico todas las veces que se desee.
</li>
<li>
<strong>Puntaje: </strong>
por cada partido acertado a ganador, perdedor o empate se suma dos puntos. Por acertar además la cantidad de goles de los dos equipos, se suma un punto adicional. En caso que el partido vaya a penales, no se tendra en cuenta en el resultado final del partido los goles en la definición por penales, tanto para pronostico de ganador como para cantidad de goles de cada equipo.
</li>
<li>
<strong>Actualización de Puntos: </strong>
la actualización de puntos de cada partido se realizará durante el transcurso del día siguiente. En caso de suspensión de algún partido, se computara temporalmente el resultado hasta el momento de la suspensión (0-0 en caso de no haberse jugado), y se procederá a la actualización del resultado y de los puntajes el día siguiente de disputado el partido.
</li>
</ol>