/** global **/
.delete
{width:32px;
 height:32px;
    }
body {
    margin:0px auto;
    padding:0;
    font-family: Helvetica, arial, serif;
    font-size:16px;
    color:#fff;
    background:url('images/admin/black-stripe.gif') repeat;
}
* {
    margin:0;
    padding:0;
}
div.homeText {
    background-color: #000000;
    padding: 5px;
    border: 1px solid #FFB40F;
}

textarea.bigTextarea {
    width:100%;
}
/** Login section **/
div.sector_logued {
    float:right;
    margin-top:45px;
    padding:8px;
    font-family: 'Arial',Helvetica,sans-serif;
    font-size: 12px;
    color:#FFFFFF;
}
div.sector_logued dl {
    display:inline;
    margin-right: 3px;
}
div.sector_logued dt,dd {
    display: inline;
}
div.sector_logued dd {
    color:#FFB40F;
}

a.buttonClose {
    background: url('images/icons/close.png') no-repeat;
    padding-left:15px;
    height: 12px;
    color:#FFFFFF;
    font-size: 9px;
    margin-top:10px;
    margin-left:3px;
    text-decoration: none;
}
a.buttonClose:hover {
    color:#FFB40F;
}

/** Home **/
.imageHome {
    text-decoration: none;
    border: 0px;
    padding:0px;
}

.imgLink
{
  background: url('images/img/delete.png') no-repeat;
}
/** index Selector **/
select#indexSelector {
    float:right;
    margin-bottom:10px;
    padding:4px;
}

select#indexSelector option{
    padding-right: 10px;
}
#loading {
    float: right;
    padding-left: 6px;
    padding-top: 4px;
}

#language_selector {
    width: 100%;
    float:right;
    clear: both;
}
/** element defaults **/
table {
    width:100%;
    
    text-align:left;
}
table tr:hover{
	
}
tr.altrow {
    background-color: #DFDFDF;
	color: #000000;
}
th, td {
    padding:5px 10px;
    text-align: center;
	border-bottom:2px solid;
}

th, th a {
    
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

th a:hover {
    color:#E77412;

}

td {
    /*border-bottom:1px solid #f4f4f4;*/
}
code, blockquote {
    display:block;
    border-left:5px solid #ddd;
    padding:10px;
    margin-bottom:20px;
}
blockquote p {
    font-style:italic;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0;
    height: 1%;
}
p {
    line-height:1.9em;
    margin-bottom:5px;
    padding-right: 25px;
}

p.observation {
    font-size:10px;
    color:#FF0000;
}
a {
    color:#0D3C84;
}
a:hover {
    color:#0C3A85;
}
a:focus {
    outline:none;
}
fieldset {
    display:block;
    border:none;
    border-top:1px solid #e0e0e0;
}
fieldset legend {
    border-bottom:1px solid #DDDDDD;
    color:#015F47;
    display:block;
    font-size:15px;
    font-weight:bold;
    
    text-transform:uppercase;
    width:100%;
    margin-bottom:7px;
    margin-top:4px;
    padding-bottom:9px;
    font-family: 'Arial';
}
fieldset form {
    padding-top:15px;
}
fieldset label {
    width:20%;
    text-align: right;
    color: #666666;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 7px;
    display: block;
    float: left;

}
#subirimg{
    width: 360px;
}
fieldset input, fieldset select, fieldset textarea {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #AAAAAA;
    padding:4px 2px;
    margin: 7px;
    color: #09275B;
    width: 250px;
}


fieldset textarea.large {
    width:450px;
    font-family: 'Arial';
    font-size: 11px;
}

fieldset select {
    width:257px;
}

form input[type=submit]{
    -moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
    -moz-box-shadow:1px 1px 1px #222;
    margin-top:12px;
    background:#DCDCDC;
    border:none;
    border:-1px solid #4e9236;
    color:#000000;
    font-weight:normal;
    padding:5px 10px;
    font-size:13px;
    cursor: pointer;
}

form input[type=reset]{
    -moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
    -moz-box-shadow:1px 1px 1px #222;
    margin-top:12px;
    background:#DDDDA9;
    border:none;
    border:-1px solid #4e9236;
    color:#000000;
    font-weight:normal;
    padding:5px 10px;
    font-size:13px;
    cursor: pointer;
}
#botonsubmit{
    -moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
    -moz-box-shadow:1px 1px 1px #222;
    margin-top:12px;
    background:#DCDCDC;
    border:none;
    border:-1px solid #4e9236;
    color:#000000;
    font-weight:normal;
    padding:5px 10px;
    font-size:13px;
    cursor: pointer;
}

#ProductoDescription{
	font-family: 'Arial',Helvetica,sans-serif;
    font-size: 12px;
	width:300px;
}
div.submit {
    text-align: center;
}
div.submit img {
    margin-top:10px;
}
div.submit p{
    font-size: 9px;
    color: #FF0000;
    margin-bottom: 4px;
}
div.submit p.bartext{
    color: #000000;
}

form input[type=submit]:hover{
    background: #4e9236;
    border-color:#666666;

}

form hr {
    clear:both;
    width: 100%;
    margin-top: 20px;
    margin-bottom:15px;
    color:#FFFFFF;
}

form input[type=checkbox] {
    width:2px;
    padding: 0px;
    display: block;
    float:left;
    position: relative;
}

form div.checkbox_item {
    float:left;
    margin-left:15px;
    display: inline;
}

form div.checkbox_item p{
    margin: 0px;
    padding:0px;
    font-size:9px;
    color:#000000;
    float:left;
    margin-top:4px;
}
form div.description_item {
    clear:left;
}
form div.description_item label {
    display:inline;
    width:14%;
}
form div.description_item textarea {
    width:75%;
    font-size:11px;
    font-family:'Arial';
}
/* Headers */
h1 {
    font-size:45px;
    
}

h2 {
    color:#066641;
    
    font-size:30px;
    font-weight:bold;
    letter-spacing:-2px;
    padding:0 0 5px;
    margin:0;
}
h3 {
    font-family:Arial,Helvetica,sans-serif;
    color:#0D357B;
    font-size:20px;
    padding-bottom:10px;
}
h4 {
    font-family:Arial,Helvetica,sans-serif;
    padding-bottom:10px;
    font-size:15px;
    color:#0C3A85;
}
h5 {
    padding-bottom:10px;
    font-size:10px;
    color:#666666;
}
h6 {
	font-family:Arial,Helvetica,sans-serif;
    padding-bottom:10px;
    font-size:11px;
    color:#666666;
}


ul, ol {
    margin:0 0 35px 35px;
}
li {
    padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
    /*width:970px;*/
    margin:0px auto;
    padding:0;
}
/** view **/
.info-view{
	float: left;width:100%;height:350px;
}
#izqview{width:100%;height:auto;margin:0 auto;}
#view_img img{padding:15px;
	width: 75px ; height: 75px; border:double #999999;
}

#imagenvie{width:auto;height:150;float:left;}
#mostrarI{font-size:16px;color:#0000FF;float:left;padding:15px;}
/** sitename **/
div#sitename h1 {
    font-size:48px;
    letter-spacing:-5px;
    color: #000000;
    margin:0;
    height:82px;
    padding:18px 0 0;
	background:#DCDCDC repeat;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
div#sitename img {
    margin-right: 20px;
}
div#sitename h1 a,
div#sitename h1 a:hover {
    color:#fff;
    font-weight:normal;
    text-decoration:none;
}
div#sitename h6{
    background-color:#FFF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:auto;
}

/** header **/
div#header {
    padding:0px 0 20px;
    margin:0 auto;
    height:40px;
    background:transparent;
	
}
div#header h2 {
    color:#ffffff;
    padding-bottom:0;
    font-weight:normal;
    font-family:'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-size:32px;
    letter-spacing:0;
}

div#header div.tagline {
    color:#C2D7F9;
    font-size:14px;
    padding-bottom:10px;
    font-family:Arial,Helvetica,sans-serif;
}
div#header div.tagline a {
    color:#ffffff;
}


/** body **/
div#body {
    padding:10px 0;
    background:url('images/admin/Untitled-1.png') repeat scroll;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: -9px 0px 3px 6px #333;
    -webkit-box-shadow: -9px 0px 3px 6px #333;
    -moz-box-shadow: -9px 0px 3px 6px #333;
}


/** content+sidebar styles **/
div#content {
    width:92%;
    padding-left: 30px;
}
div#content h1, div#sitename h6, div#content h6{
    color:#335555;
}
div.column-left {
    float:left;
    margin-right:20px;
}
div.column-right {
    
}
div#sidebar {
    width:268px;
}
div#sidebar ul {
    margin:0;
    padding:0;
    list-style:none;
}
div#sidebar li ul {
    margin-bottom:20px;
    width:250px;
}
div#sidebar li ul li {
    display:block;
    padding:12px 10px;
    border-bottom:1px solid #ddd;
    color:#777;
}
div#sidebar li ul li a {
    color:#333;
    text-decoration:none;
    font-family:Verdana, Geneva, sans-serif;
    font-weight:normal;
}
div#sidebar li ul li a:hover {
    color:#09285E;
    text-decoration:underline;
}


div#sidebar li ul.blocklist li {
    padding:0;
}
div#sidebar li ul.blocklist li.selected-item  {
    border-bottom:none;
}
div#sidebar li ul.blocklist li.selected-item a {
    color:#fff;
    font-weight:bold;
    background:transparent url('images/template/item-selected.jpg') no-repeat;
}
div#sidebar li ul.blocklist li.selected-item a:hover {
    text-decoration:none;
}
div#sidebar li ul.blocklist li a {
    color:#666;
    width:260px;
    display:block;
    padding:13px 10px;
}
div#sidebar li ul.blocklist li a:hover {
    text-decoration: none;
    color: #0C367E;
}

div#sidebar h4 { 
    color:#0C367E;
    font-family:arial;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    margin:0;
    padding:7px 10px;
}
div#userLock img {
    margin-top: 20px;
    margin-left: 100px;
}
/* Actions Images Icons */
div.actions {
    clear:both;
    margin-top:15px;
}
td.actions a img{
    text-decoration: none;
    border:0px;
    padding:3px;
}

/** footer **/
div#footer {
    padding:20px 20px;
    color:#fff;
}
div#footer p {
    color:#666;
    margin:0;
    font-size:11px;
    width:50%;
}
div#footer p.left { float:left; width:40% }
div#footer p.right { float:right; text-align:right; width:40% }
div#footer p a {
    color:#666;
    font-weight:bold;
    text-decoration:none;
}
div#footer p a:hover {
    text-decoration: underline;
}

/** Persist Divs  **/
div#persistResult {
    margin-top: 5px;
    font-size: 9px;
    color: #0D3984;
}



/** clear fix **/
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: inline-block;
}
.clear {
    display: block;
}

/** Pagination **/
/** Paging **/
p.paging {
    margin-top:15px;
    margin-bottom:0px;
    font-size:10px;
    font-family: 'Arial';
}
div.paging {
    background:#fff;
    font-size:10px;
    color: #CCC;
    font-family: 'Arial';
    margin-top: 4px;
    clear:both;
}
div.paging span.disabled {
    display: inline;
    color: #DDD;
}
div.paging span.current {
    color: #c73e14;
}
div.paging span a {
}


/** photo gallery  **/
div.gallery_container {
    border: 1px solid #DDD;
    padding-left:50px;
    padding-top:7px;
    padding-bottom: 7px;
    float:left;
    width: 100%;
}
a.signature img {
    border:0px;
    margin-top:4px;
    margin-left:5px;
    margin-bottom:3px;
}

div.album {
    float: left;
    width:86px;
    margin-right: 5px;
}

div.album p {
    padding-right:0px;
}

a.album {
    text-decoration: none;
    font-size: 10px;
    color:#666666;
    width: 85px;
    text-align: center;
}
a.jlightbox img {
    padding:2px;
    border:1px solid #DDD;
}
a.header img {
    float:left;
    margin-bottom:20px;
}

div.headerEdit {
    clear:right;
    height:110px;
    margin-left: 120px;
}

.photoGalleries div#flashMessage {
    background-color:#FF0000;
    color:#FFFFFF;
    display:block;
    font-weight:bold;
    text-align:center;
    width:100%;
    margin-bottom:8px;
    margin-left:16px;
    padding:5px;
}

div.photoEditor img{
    padding-right: 10px;
}

.custom .jcrop-vline, .custom .jcrop-hline {
	background: yellow;
}
.custom .jcrop-handle {
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#SessionDetails{
	float:right;
	width:300px;
	text-align:right;
	clear:both;
	margin:10px;
}
#SessionDetails a{
	color:#000;
	text-decoration:none;
	border:none;
}
#SessionDetails a:hover{
	color:#fff;
	text-decoration:none;
	border:none;
}

#SessionDetails p{
	color:#000;
	padding-right:0px;
}
#SessionDetails img{
	border-style:none;
}
.error-message{
	color:#B30300;
	font-size:10pt;
}